*{
    margin: 0px;
    font-family: "Raleway", sans-serif;
}
.side-bar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 300px;
}
.remain-body{
    margin-left: 300px;
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    height: 2625px;
}
.rest-of-body{
    margin-left: 300px;
    height: 520px;
  
}
.side_img{
    width: 113px;
    border-radius: 10px;
    margin-left: 16px;
    margin-top: 24px;
}
.side_list-parent{
list-style-type: none;
padding: 0px;
}
.side_title{
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    padding-left: 16px;
    
}
.side_article{
    padding-left: 16px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #757575;
    font-size: 15px;
    font-weight: 400;
}
.side_list-link{
    text-decoration: none;
    color: black;
   display: inline-block;
   padding: 10px 45px;
   font-size: 15px;
   text-transform: uppercase;
   width: 210px;
    }
    .green-link{
        color: #009688
    }
    .side_list-link:hover{
        background-color: #c9c6c6;
    }
    .main_title{
        font-weight: 500;
        font-size: 40px;
    }

    .filter_div{
        margin-top: 40px;
      display: flex;
      margin-bottom: 30px;
    }
    
    .main_list{
        list-style-type: none;
padding: 0px;
display: flex;
margin-left: 20px;

    }
   
    
    .main_link{
        text-decoration: none;
        color: black;
        background-color: white;
        margin-left: 5px;
        padding: 8px 16px;
       font-size: 15px;
       letter-spacing: normal;
    }
    .main_link:hover{
        background-color: #c9c6c6;
    }
    .black_link{
        background-color: black;
        color: white;
        padding: 8px 16px;
    }
    .black_link:hover{
        background-color: #c9c6c6;
        color: #000;
    }
    .hr{
        color: #c9c6c6;
       
        border: solid 3px;
    }
    .card_container{
        width: 32.5%;
        margin-top: 20px;
        background-color: white;
    }
    .card_img{
        width: 100%;
    }
    .card_img:hover{
        opacity: 0.7;
    }
    .card_title{
        padding: 20px 10px;
        font-size: 15px;
        font-weight: 600;
        color: rgb(51, 49, 49);
    }
    .card_article{
        padding-left: 10px;
        font-size: 16px;
        line-height: 1.5;
        color: rgb(34, 33, 33);
        padding-bottom: 15px;
        
    }
    .card_parent{
       display: flex;
       justify-content: space-between;
    }
    .cards_number{
        padding-top: 50px;
        width: 300px;
        margin: auto;
    }
    .cards_link{
        text-decoration: none;
        color: #000;
        padding: 13px 16px;
    }
    .cards_link:hover{
        background-color: #000;
        color: white;
    }
    .black_number{
        background-color: #000;
        color: white;
    }
    .black_number:hover{
        background-color: #c9c6c6;
        color: white;
    }




    .about-me{
        margin-top: 60px;
    }
    .about-me_img{
        width: 49.25%;
    }
    .about-me_img--parent{
        display: flex;
        justify-content: space-between;
    }
    .about-me_title{
padding: 40px 0;
padding-bottom: 20px;
font-size: 22px;
color: rgb(14, 13, 13);
    }
    .about-me_article{
        line-height: 1.5;
    }
    .skills_h4{
        margin-top: 30px;
        font-size: 22px;
        font-weight: 400;
    }
    .skills_p{
        font-size: 15px;
        margin: 15px 0;
    }
    .first-percentage{
        background-color: gray;
        padding: 10px 0;
        width: 95%;
        text-align: center;
        color: white;
        
    }
    .remain-first_percentage{
        background-color: rgb(182, 176, 176);
        width: 5%;
        padding: 10px 0;
        
    }
   
    .second-percentage{
        background-color: gray;
        padding: 10px 0;
        width: 85%;
        text-align: center;
        color: white;
        
    }
    .remain-second_percentage{
        background-color: rgb(182, 176, 176);
        width: 15%;
        padding: 10px 0;
        
    }.third-percentage{
        background-color: gray;
        padding: 10px 0;
        width: 80%;
        text-align: center;
        color: white;
        
    }
    .remain-third_percentage{
        background-color: rgb(182, 176, 176);
        width: 20%;
        padding: 10px 0;
        
    }
    .flex_percentage{
        display: flex;
    }
    .button{
        color: white;
        background-color: #616161;
        padding: 12px 24px;
        border: none;
        margin-top: 33px;
        font-size: 17px;
    }
    .button:hover{
        background-color: #f1f1f1;
        color: blacks;
    }
    .charge{
        margin-top: 50px;
        margin-bottom:15px;
    }
    .charge_article{
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
    }
    .charge_card-parent{
        display: flex;
        justify-content: space-between;
    }
    .charge_card{
        width: 32%;
        opacity: 0.6;
    }
    .charge_card:hover{
        opacity: 1;
    }
    .font-size{
        font-size: 20px;
    }
    .charge_header{
        background-color: #000;
        color: white;
    }
    .green_header{
        background-color: #009688;
    }
    .header_title{
        padding: 32px 16px;
        text-align: center;
        font-size: 24px;
    }
    .body_article{
        text-align: center;
        padding: 16px ;
        font-size: 15px;
        border-bottom: #ddd 1px solid;
    }
    .per-month{
        color: #c0baba;
    }
    .charge_body{
        background-color: white;
    }
    .charge_footer{
        border-bottom: #ddd 1px solid;
        padding: 24px 16px;
        text-align: center;
    }
    .charge_body,.charge_footer{
border-left:#ddd 1px solid ;
border-right: #ddd 1px solid;
    }
    .footer_button{
        padding: 12px 24px;
        border: none;
        background-color: #009688;
        color: white;
        font-size: 17px;

    }
    .font-size{
        font-size: 33px;
    }
    .per-month{
        font-size: 15px;
    }
    .contact-me{
        
        background-color: rgb(158, 158, 158);
        padding: 12px 24px;
        font-size: 24px;
        font-weight: 400;
       
    }
    .contact-me_title{
        margin-bottom: 30px;
    }
.contact-me_parent{
    display: flex;
}

    .contact-me_card{
        background-color: rgb(97, 97, 97);
        padding: ;
        width: 33.3%;
    }
    .contact-me_article{
        font-size: 17px;
        text-align: center;
        color: white;
        padding: 30px 24px;
    }
    .green_contact{
        background-color: #009688;
    }
    .hr_thin{
        color: #c9c6c6;
        margin-top: 50px;
        margin-bottom: 30px;
        
    }
    .contact_input{
        width: 100%;
        height: 40px;
        border: rgb(204, 204, 204) solid 1px;
        margin-bottom: 20px;
    }
    .contact_label{
        font-size: 15px;
      
    }



    .contact_button{
color: white;
background-color: #000;
font-size: 15px;
padding: 13px 24px;
border: none;
    }
    .contact_button:hover{
        background-color: #f1f1f1;
        color: rgb(0, 0, 0);
    }




    .footer{
        background-color: #616161;
        height: 280px;
        display: flex;
        
    }
    .footer_footer,.post,.tag{
        width: 32%;
    }
    .footer_title,.post_title,.tag_title{
        font-size: 24px;
        font-weight: 300;
        padding: 0 24px;
        padding-top: 40px;
        padding-bottom: 15px;
        text-transform: uppercase;
        color: white;
    }
    .foote_article{
        font-size: 15px;
        font-weight: 200;
        padding: 0 24px;
        color: white;
        line-height: 1.5;
        padding-bottom: 15px;
    }
    .footer_article-footer{
        font-size: 15px;
        font-weight: 200;
        padding: 0 24px;
        color: white;
    }
    .wcss{
        text-decoration: underline;
    }
    .post_container{
        display: flex;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
.main_post-contaner{
  
    width: 100%;
    
    
}


    .post_img{
width: 16%;
margin-right: 15px;
    }
    .post_figure{
width: 70%;
    }
    .lorem_title{
        font-size: 17px;
        color: white;
        font-weight: 200;
    }
    .post_article{
        font-size: 15px;
        color: white;
        font-weight: 200;
        margin-top: 5px;
    }
    .post_hr{
        width: 95%;
    }
    .span_tag{
        background-color: #9E9E9E;
        
        color: rgb(43, 42, 42);
        font-size: 13px;
        font-weight: 200;
        display: inline-block;
        padding: 3px 8px;
  
    text-align: center;
        margin-bottom: 16px;
    }
    .black_span{
        background-color: #000000;
        color: rgb(255, 255, 255);
    }
    .black_footer{
        background-color: #000;
        
    }
    .black_footer-p{
        font-size: 15px;
        font-weight: 200;
        text-align: center;
        color: white;
        padding: 30px 0;
    }
    .fa-sharp{
        color: #009688
    }